<div class="forme-footer"></div>
<footer class="py-5 text-center text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <p class="text-white">Espace d'administration</p>
                <p class="text-white">blog.sylvain-guerrin.fr | 2019</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="#" class="btn-brand"><img src="{{ asset('assets/logo/logo-lettres-90px.png') }}" alt="logo sylvain-guerrin.fr"></a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="https://www.linkedin.com/in/sylvain-guerrin" target="_blank" class="btn-reseaux">
                    <img src="{{ asset('assets/icones/linkedin-icon-64px.png') }}" alt="icone linkedin" width="40">
                </a>
                <a href="https://www.viadeo.com/p/002129rmyyy0n83r" target="_blank" class="btn-reseaux">
                    <img src="{{ asset('assets/icones/viadeo-icon-64px.png') }}" alt="icone viadeo" width="40">
                </a>
                <a href="https://github.com/SylvainGUERRIN" target="_blank" class="btn-reseaux">
                    <img src="{{ asset('assets/icones/github-icon-white-64px.png') }}" alt="icone github" width="40">
                </a>
                <a href="https://www.facebook.com/S.Guerrin.Developpeur" target="_blank" class="btn-reseaux">
                    <img src="{{ asset('assets/icones/facebook-logo-64px.png') }}" alt="icone facebook" width="40">
                </a>
            </div>
        </div>
    </div>
</footer>
