{% set current = app.request.attributes.get("_route") %}
<header>
    {% if app.user is not null %}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="accueil"><img src="{{ asset('assets/logo/logo-lettres-90px.png') }}" alt="logo du site sylvain-guerrin.fr"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if current == 'dashboard' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('dashboard') }}">Dashboard</a>
                    </li>
                    {#<li class="nav-item {% if current == 'back-articles' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('back-articles') }}">Articles</a>
                    </li>
                    <li class="nav-item {% if current == 'back-categories' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('back-categories') }}">Tags</a>
                    </li>
                    <li class="nav-item {% if current == 'back-commentaires' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('back-commentaires') }}">Commentaires</a>
                    </li>#}
                    <li class="nav-item {% if current == 'admin_profil' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('admin_profil') }}">Profil</a>
                    </li>
                    <li class="nav-item {% if current == 'profil_password' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('profil_password') }}">Modifier mot de passe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_deconnexion') }}">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <img src="{{ asset('assets/logo/logo-lettres-90px.png') }}" alt="logo du site sylvain-guerrin.fr">
                <h2 class="text-white">Espace d'administration</h2>
            </div>
        </div>
    </div>
    {% endif %}
</header>
{% for label, messages in app.flashes %}
    <div class="container text-center pt-5">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
